{% extends 'base.html' %}
{% block titulo %} PRESENTACIÓN | SAV {% endblock %}

{% block contenido %}
  {% load static %}

<header>
  <input type="checkbox" id="btn-menu">
  <label for="btn-menu"><img src="{% static 'assets/media/img/iconmenu.png' %}" ></label>
  <nav class="menu">
      <ul>
          <li><a href="{% url 'index' %}">{{ btn1 }}</a></li>
          <li><a href="{% url 'nosotros' %}">{{ btn2 }}</a></li>
          <li><a href="{% url 'contacto' %}">{{ btn3 }}</a></li>
          <li><a href="#">{{ btn4 }}</a></li>
      </ul>
  </nav>
</header>
<main>
    <section class="inicio-header">
        <img src="{% static 'assets/media/img/inicio.jpg' %}" alt="" >
        <div class="texto-encima">{{ txt1 }}</div>
    </section>
    <section class="contenedor sobre-nosotros" id="sobre-nosotros">
        <h2 class="titulo">{{ tituloProblema1 }}</h2>
        <div class="contenedor-sobre-nosotros">
            <img src="{% static 'assets/media/img/problema.png' %}" alt="" class="imagen-sobre">
            <div class="contenido-textos">
                <h3><span>{{ spanUno }}</span>{{ tituloProblema }}</h3>
                <p>{{ texto1 }}</p>
            </div>
        </div>
    </section>

    <section style="background: #f2f2f2">
        <section class="contenedor sobre-nosotros" id="sobre-nosotros" >
            <h2 class="titulo"></h2>
            <div class="contenedor-sobre-nosotros">
                <div class="contenido-textos">
                    <h3><span>{{ spanDos }}</span>{{ tituloSolucion }}</h3>
                    <p>{{ texto2 }}</p>
                </div>
                <img src="{% static 'assets/media/img/solucion.png' %}" alt="" class="imagen-sobre">
            </div>
        </section>
    </section>

        <section class="contenedor sobre-nosotros" id="sobre-nosotros">
            <h2 class="titulo">{{ tituloHerramientas }}</h2>
            <div class="contenedor-sobre-nosotros">
                <div class="contenido-textos">
                    <img src="{% static 'assets/media/img/mysql.png' %}" alt="" style="max-width: 45%;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <img src="{% static 'assets/media/img/xampp.png' %}" alt=""style="max-width: 45%;"><br><br><br>
                    <img src="{% static 'assets/media/img/php.png' %}" alt="" style="max-width: 45%;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <img src="{% static 'assets/media/img/html.png' %}" alt="" style="max-width: 45%;"><br><br><br>
                    <img src="{% static 'assets/media/img/visual.png' %}" alt="" style="max-width: 30%;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <img src="{% static 'assets/media/img/sublime.png' %}" alt="" style="max-width: 60%;">
                </div>
            </div>
        </section>

    

    <section style="background: #f2f2f2">
    <section class="contenedor sobre-nosotros" id="sobre-nosotros">
        <h2 class="titulo">{{ tituloDocumentos }}</h2>
        <div class="contenedor-sobre-nosotros">
            <div class="contenido-textos">
                <ul class="" style="list-style: none; text-align: center;">
                    <li>
                      <a href="https://drive.google.com/file/d/18gZ-V85SYk4NOqT-fUzMVYZNQtiJOunL/view?usp=sharing" style="text-decoration: none; color: green;">Manual Técnico - SAV</a><br><br>
                      <a href="https://drive.google.com/file/d/1sN2UqDfEqxOK2oIMoaE9x9C7LmEVPHUE/view?usp=sharing" style="text-decoration: none; color: green;">Manual de Usuario - SAV</a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    </section>

</main>
<footer class="footer">
    <div class="contenedor-footer">
        <h4>&copy; {{ txt2 }}</h4>
    </div>
    <h2 class="titulo-final">&copy; {{ txt3 }}</h2>
</footer>

{% endblock %}